<a href="https://colab.research.google.com/github/Tomokki/python-basic/blob/main/9%E6%9C%8810%E6%97%A5Lesson.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
 a = {'key1':10, 'key2':"Hello"}
 a['key2']

'Hello'

#nameに山本、billに4000、chargeにTrueを格納した辞書data1を作成
#山本を表示

In [9]:
data1 = {'name':"山本", 'bill':4000, 'charge':"True"}

data1['name']

'山本'

#nameに吉田、billに50000、chargeにFalseを格納した辞書data2を作成
#50000を表示

In [10]:
data2 = {'name':"吉田", 'bill':50000, 'charge':"False"}

data2['bill']

50000

#data1とdata2を要素としたリストdata_listを作成

In [17]:
data_list = [data1,data2]

print(data_list[0]["name"])
print(data_list[1]["name"])

山本
吉田

#for文を用いてdata1とdata2のbillを合計して表示

In [18]:
data_list = [data1,data2]

for d in data_list:
  print(d)

{'name': '山本', 'bill': 4000, 'charge': 'True'}
{'name': '吉田', 'bill': 50000, 'charge': 'False'}

In [19]:
data_list[0]["bill"] + data_list[1]["bill"]

54000

In [31]:
data_list = [data1,data2]

goukei = 0

for d in data_list:
  goukei += d["bill"]

print(goukei)

54000