<a href="https://colab.research.google.com/github/Tomokki/python-basic/blob/main/LESSON%E3%81%A8%E3%83%86%E3%82%AD%E3%82%B9%E3%83%8815%E7%AB%A0%E3%81%8B%E3%82%89.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print(1+2)

3

In [ ]:
money = 1000
items = {'apple': 100, 'banana': 200, 'orange': 400}
for item_name in items:
    print('--------------------------------------------------')
    print('財布には' + str(money) + '円入っています')
    print(item_name + 'は1個' + str(items[item_name]) + '円です')

    input_count = input('購入する' + item_name + 'の個数を入力してください：')
    print('購入する' + item_name + 'の個数は' + input_count + '個です')

    count = int(input_count)
    total_price = items[item_name] * count
    print('支払い金額は' + str(total_price) + '円です')

    if money >= total_price:
        print(item_name + 'を' + input_count + '個買いました')
        money -= total_price

        if money == 0:
            print('財布が空になりました')
            break
    else:
        print('お金が足りません')
        print(item_name + 'を買えませんでした')
print('残金は' + str(money) + '円です')

--------------------------------------------------
財布には1000円入っています
appleは1個100円です

In [ ]:
age=18
if age <20:
 print("ジュースで乾杯！") #未成年の場合
else:
  #成年の場合
  print("お酒で乾杯！")

ジュースで乾杯！

In [ ]:
print("こんにちわ")
print("今日はいい天気です")

こんにちわ
今日はいい天気です

In [ ]:
print(100)

100

In [ ]:
print(-123)

-123

In [ ]:
print(0.1)

0.1

In [ ]:
print(True)
print(False)

True
False

In [ ]:
print(45+18)
print(30-12)
print(15*6)
print(30/3)
print(45%8)

63
18
90
10.0
5

In [ ]:
print(type(30/3))

<class 'float'>

In [ ]:
print("降水確率"+str(50)+"%")

降水確率50%

In [ ]:
user_name="侍太郎"
print(user_name)

侍太郎

In [ ]:
user_name="侍太郎"
print(user_name)

user_name="侍花子"
print(user_name)

侍太郎
侍花子

In [ ]:
#整数型と浮動小数点型の足し算
number1=5
number2=2.5
print(number1+number2)

#文字列型と文字列型の連結
last_name="侍"
first_name="太郎"
print(last_name+first_name)

7.5
侍太郎

In [ ]:
last_name="侍"
first_name="太郎"
sister_name="花子"

#３つの変数を文字列内に埋め込んで表示
print(f"私の名前は{last_name}{first_name}です。妹の名前は{sister_name}です。")

私の名前は侍太郎です。妹の名前は花子です。

In [ ]:
print(10*5)
print(10/5)

50
2.0

In [ ]:
10%8

2

In [ ]:
user_names=["侍太郎","侍一郎","侍二郎","侍三郎","侍四郎"]
user_ages=[36,33,29,25,22]
# 定義付けは[ ]

user_names.append("侍五郎")
# 変化を与える時は、( )
user_names
user_names.pop(2)
user_names

['侍太郎', '侍一郎', '侍三郎', '侍四郎', '侍五郎']

In [ ]:
user_names=["侍太郎","侍一郎","侍二郎","侍三郎","侍四郎"]
user_names[1]="侍花子"
user_names

['侍太郎', '侍花子', '侍二郎', '侍三郎', '侍四郎']

In [ ]:
num=50
if 10<num:
  print("変数numは10より大きいです")
  print("変数numは20より小さいです")

変数numは10より大きいです
変数numは20より小さいです

In [ ]:
45+18
45>18

True

In [ ]:
45+18

63

In [ ]:
import random

num=random.randint(0,4)

print(num)

if num==4:
  print("大当たりです")

else:
  print("はずれです")

3
はずれです

In [ ]:
for i in range(5,11,2):
   print(i)

5
7
9

In [ ]:
for i in range(1,11):
  print(i)

  if i==5:
    break

1
2
3
4
5

In [ ]:
import random

for i in range(1,11):

  num = random.randint(1,20)

  print(f"{i}回目の結果は{num}です。")

  if num ==20:
    print("20が出たので繰り返し処理を強制終了します。")
    break

1回目の結果は1です。
2回目の結果は18です。
3回目の結果は7です。
4回目の結果は2です。
5回目の結果は14です。
6回目の結果は2です。
7回目の結果は1です。
8回目の結果は15です。
9回目の結果は1です。
10回目の結果は18です。

In [ ]:
import random

num=random.randint(0,4)

i=1

print(f"最初の値は{num}です。")

while num !=0:
  num = random.randint(0, 4)

  if i == 5:
   print("5回目なので繰り返し処理を強制終了します。")
   break

print(f"現在の値は{num}です。")
i=i+1

最初の値は1です。
現在の値は0です。

In [ ]:
user_names = ["侍太郎", "侍一郎", "侍二郎", "侍三郎", "侍四郎"]

for user_name in user_names:
 print(user_name)

侍太郎
侍一郎
侍二郎
侍三郎
侍四郎

In [ ]:
user_names = ["侍太郎", "侍一郎", "侍二郎", "侍三郎", "侍四郎"]

# 配列user_namesの要素を1つずつ順番に出力する
for user_name in user_names:
 print(user_name)

侍太郎
侍一郎
侍二郎
侍三郎
侍四郎

In [ ]:
personal_data = {"name": "侍太郎", "age": 36, "gender": "男性"}

for key, value in personal_data.items():
 print(f"{key}は{value}です。")

nameは侍太郎です。
ageは36です。
genderは男性です。

In [ ]:
personal_data = {"name": "侍太郎", "age": 36, "gender": "男性"}

# 連想配列personal_dataのキーと値を1つずつ順番に出力する
for key, value in personal_data.items():
 print(f"{key}は{value}です。")

# 連想配列personal_dataの値を1つずつ順番に出力する
for value in personal_data.values():
 print(value)

nameは侍太郎です。
ageは36です。
genderは男性です。
侍太郎
36
男性

In [ ]:
user_names = ["侍太郎", "侍一郎", "侍二郎", "侍三郎", "侍四郎"]

# 配列user_namesのインデックスと値を1つずつ順番に出力する
for index, value in enumerate(user_names):
 print(f"{index} : {value}")

0 : 侍太郎
1 : 侍一郎
2 : 侍二郎
3 : 侍三郎
4 : 侍四郎

In [ ]:
user_names = ["侍太郎", "侍一郎", "侍二郎", "侍三郎", "侍四郎"]

# 検索したいユーザー名を代入する変数
target = "侍二郎"

for user_name in user_names:
 print(user_name)

 # 変数user_nameと変数targetの値が一致すれば、break文で繰り返し処理を強制終了する
 if (user_name == target):
   print(f"{target}さんが見つかったので、繰り返し処理を強制終了します。")
   break

侍太郎
侍一郎
侍二郎
侍二郎さんが見つかったので、繰り返し処理を強制終了します。

In [ ]:
score = {
   "国語": 80,
   "数学": 55,
   "理科": 70,
   "社会": 85,
   "英語": 60
}

print("合格した科目は以下のとおりです。")

for key, value in score.items():
  # 変数valueの値（点数）が70より小さければ、キー（科目名）と値（点数）を出力せずにcontinue文で次のループに進む
  if (value < 70):
    continue
  print(f"{key} : {value}点")

合格した科目は以下のとおりです。
国語 : 80点
理科 : 70点
社会 : 85点

In [ ]:
def say_good_morning():
 print("おはようございます。")
 print("昨日はよく眠れましたか？")
 print("今日も一日頑張りましょう！")

def say_good_afternoon():
  print("こんばんは！")
  print("今日も一日お疲れ様でした。")

say_good_morning()

say_good_afternoon()

おはようございます。
昨日はよく眠れましたか？
今日も一日頑張りましょう！
こんばんは！
今日も一日お疲れ様でした。

In [ ]:
def calculate_total(price):
  total=price+500

  print(f"{total}円")

calculate_total(1200)

1700円

In [ ]:
def add_two_arguments(price,shipping_fee):
 total=price+shipping_fee

 print(f"{total}円")

add_two_arguments(1200,500)

1700円

In [ ]:
purchased = True

def is_purchased():
  if (purchased):
    return True
  else:
    return False

  if (is_purchased()):
   print("商品は購入済みです。")

In [ ]:
def double(num : int):
  return num * 2

In [ ]:
def show_user_name():
 # ローカル変数を定義する
 user_name = "侍太郎"

 # ローカルスコープの範囲内でローカル変数を使う
 print(user_name)

show_user_name()

侍太郎

In [ ]:
def show_user_name():
 # ローカル変数を定義する
 user_name = "侍太郎"

 # ローカルスコープの範囲内でローカル変数を使う
 print(user_name)

show_user_name()

# ローカルスコープの範囲外でローカル変数を使う（エラーが発生する）
 print(user_name)

IndentationError: ignored

In [ ]:
# グローバル変数を定義する
user_name = "侍花子"

def show_user_name():
 # ローカル変数を定義する
 user_name = "侍太郎"

 # ローカルスコープの範囲内でローカル変数を使う
 print(user_name)

show_user_name()

# グローバルスコープの範囲内でグローバル変数を使う
print(user_name)

侍太郎
侍花子

In [ ]:
# グローバル変数を定義する
user_name = "侍花子"

def show_user_name():
 # ローカル変数を定義する
#  user_name = "侍太郎"

 # グローバルスコープの範囲外でグローバル変数を使う（エラーが発生する）
 print(user_name)

show_user_name()

# グローバルスコープの範囲内でグローバル変数を使う
print(user_name)

侍花子
侍花子

#15章　クラスを理解しよう

In [ ]:
class Product:
   def __init__(self):
     # 属性を定義する
     self.name = ""

shampoo = Product()

# 属性にアクセスし、値を代入する
shampoo.name = "シャンプー"

# 属性にアクセスし、値を出力する
print(shampoo.name)

シャンプー

In [ ]:
class Product:
   def __init__(self):
     self.name = ""

   # メソッドを定義する
   def set_name(self, name):
     self.name = name

   def show_name(self):
     print(self.name)


# インスタンス化する
coffee = Product()

# メソッドにアクセスして実行する
coffee.set_name("コーヒー")
coffee.show_name()

コーヒー

In [ ]:
class User:
   # コンストラクタを定義する
   def __init__(self, name, age, gender):
     self.name = name
     self.age = age
     self.gender = gender

   # メソッドを定義する
   def set_name(self, name):
     self.name = name

   def show_name(self):
     print(self.name)


# インスタンス化する
user = User("侍太郎", 36, "男性")

# 属性にアクセスし、値を出力する
print(user.name)
print(user.age)
print(user.gender)

侍太郎
36
男性

#15章  まとめ

In [ ]:
# クラスの定義（例：class Product: ...... ）
class クラス名:
    # コンストラクタの定義
    def __init__(self):
        初期化の内容

    # メソッドの定義（例：public show_name(): ...... ）
    def メソッド名():
        一連の処理

# インスタンス化（例：shampoo = Product()）
インスタンス名 = クラス名()

# 属性へのアクセス（例：shampoo.name）
インスタンス名.属性名

# メソッドへのアクセス（例：shampoo.show_name()）
インスタンス名.メソッド名()

#課題15提出
クラスを使いこなそう

In [ ]:
class Human:
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def printinfo(self):
        print(f"名前: {self.name}")
        print(f"年齢: {self.age}")

# Humanクラスのインスタンス作成
human_instance = Human("侍太郎", 36)

# printinfoメソッドを呼び出し属性表示
human_instance.printinfo()

名前: 侍太郎
年齢: 36

#16章 日付・時刻の処理を理解しよう

In [ ]:
# Pythonで日時を取得する主な方法は、以下の2つです。

# timeモジュール
# datetimeモジュール

#タイムゾーンを日本へ

In [ ]:
!rm /etc/localtime
!ln -s /usr/share/zoneinfo/Asia/Tokyo /etc/localtime
!date

Wed Aug 16 10:00:26 PM JST 2023

In [ ]:
# timeモジュールをインポート
import time

# 現在の日時を指定したフォーマットで出力する
print(time.strftime("%Y年%m月%d日%H時%M分%S秒", time.localtime()))

2023年08月16日13時00分57秒

#UNIXタイムスタンプ  
-UNIXタイムスタンプとは、例えば「1426690800」「1652662122」など、1970年1月1日0時0分0秒からの経過秒数のことです。  
-日付の表現としては見慣れない形式だと思いますが、言語やタイムゾーン（同じ標準時を使う地域のこと）がさまざまなインターネットの世界では日付の表現も多くの種類が存在します。  
-その中で共通の整数型の値として扱えるUNIXタイムスタンプは、よく出てくる形式

In [ ]:
# timeモジュールをインポート
import time

# 現在時刻をUNIXタイムスタンプで取得
print(time.time())

1692191078.5464504

#datetimeモジュール

In [ ]:
# datetimeモジュールをインポート
import datetime

# 指定した日時を取得する
date_time = datetime.datetime.strptime("2015-03-19 12:15:30", "%Y-%m-%d %H:%M:%S")

# 取得した日付date_timeの日時を特定のフォーマットで出力する
print(date_time.strftime("%Y年%m月%d日%H時%M分%S秒"))

2015年03月19日12時15分30秒

In [ ]:
# datetimeモジュールをインポート
import datetime

# 指定した日時を取得する
date_time = datetime.datetime.strptime("2015-03-19 12:15:30", "%Y-%m-%d %H:%M:%S")

print(date_time)

# 年,月,日,時,分,秒だけをそれぞれ取り出すことも可能です
print(date_time.year)
print(date_time.month)
print(date_time.day)
print(date_time.hour)
print(date_time.minute)
print(date_time.second)

2015-03-19 12:15:30
2015
3
19
12
15
30

In [ ]:
# datetimeモジュールをインポート
import datetime

# 現在時刻を取得する
now = datetime.datetime.now()

# 指定した日時を取得する
date_time = datetime.datetime.strptime("2015-03-19 12:15:30", "%Y-%m-%d %H:%M:%S")

# 2つのdatetimeの差を取得し、変数intervalに代入する（interval＝間隔）
interval = now - date_time

# 取得した日時の差を特定のフォーマットで出力する
print(f"総日数は{interval.days}日です。")

総日数は3072日です。

In [ ]:
# datetimeモジュールをインポート
import datetime

# 現在時刻を取得する
now = datetime.datetime.now()

# 指定した日時を取得する
date_time = datetime.datetime.strptime("2015-03-19 12:15:30", "%Y-%m-%d %H:%M:%S")

# 2つのdatetimeの差を取得し、変数intervalに代入する（interval＝間隔）
interval = now - date_time

# 取得した日時の差を特定のフォーマットで出力する
print(f"総日数は{interval.days}日です。")

総日数は3072日です。

In [ ]:
# datetimeモジュールをインポート
import datetime

# 現在時刻を取得する
now = datetime.datetime.now()

# 1年間の日数差を変数td_1yに代入する
td_1y = datetime.timedelta(days=365)

# 現在の日時に1年を加算し、変数addに代入する
add = now + td_1y

# 3日間の日数差を変数td_3dに代入する
td_3d = datetime.timedelta(days=3)

# 現在の日時から3日を減算し、変数subに代入する（sub＝「減算」を意味するsubtractionの略）
sub = now - td_3d

# 加算・減算した日時を特定のフォーマットで出力する
print(add.strftime("現在から1年後は%Y年%m月%d日%H時%M分%S秒です。"))
print(sub.strftime("現在から3日前は%Y年%m月%d日%H時%M分%S秒です。"))

現在から1年後は2024年08月15日13時06分50秒です。
現在から3日前は2023年08月13日13時06分50秒です。

In [ ]:
# datetimeモジュールをインポート
import datetime

# 現在時刻を取得する
now = datetime.datetime.now()

# 1年間の日数差を変数td_1yに代入する
td_1y = datetime.timedelta(days=365)

# 現在の日時に1年を加算し、変数addに代入する
add = now + td_1y

# 3日間の日数差を変数td_3dに代入する
td_3d = datetime.timedelta(days=3)

# 現在の日時から3日を減算し、変数subに代入する（sub＝「減算」を意味するsubtractionの略）
sub = now - td_3d

# 加算・減算した日時を特定のフォーマットで出力する
print(add.strftime("現在から1年後は%Y年%m月%d日%H時%M分%S秒です。"))
print(sub.strftime("現在から3日前は%Y年%m月%d日%H時%M分%S秒です。"))

現在から1年後は2024年08月15日13時07分04秒です。
現在から3日前は2023年08月13日13時07分04秒です。

#17章 パッケージ・モジュールについて理解しよう

In [ ]:
pip install Django

Collecting Django
  Downloading Django-4.2.4-py3-none-any.whl (8.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 8.0/8.0 MB 21.5 MB/s eta 0:00:00
Collecting asgiref<4,>=3.6.0 (from Django)
  Downloading asgiref-3.7.2-py3-none-any.whl (24 kB)
Requirement already satisfied: sqlparse>=0.3.1 in /usr/local/lib/python3.10/dist-packages (from Django) (0.4.4)
Requirement already satisfied: typing-extensions>=4 in /usr/local/lib/python3.10/dist-packages (from asgiref<4,>=3.6.0->Django) (4.7.1)
Installing collected packages: asgiref, Django
Successfully installed Django-4.2.4 asgiref-3.7.2

#モジュールやパッケージを利用するためのimport文

In [ ]:
import django
print(django.get_version())
# 3.0.6

4.2.4

#課題17
  
学習したことを組み合わせてコードを書こう

In [ ]:
class Human:
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def check_adult(self):
        if self.age >= 20:
            print(f"{self.name}は大人である。")
        else:
            print(f"{self.name}は大人でない。")

# Humanクラスのインスタンスをリストに追加
humans = [
    Human("侍太郎", 25),
    Human("侍花子", 18),
    Human("侍二郎", 30)
]

# リストの要素数分だけcheck_adultメソッドを呼び出す
for human in humans:
    human.check_adult()

侍太郎は大人である。
侍花子は大人でない。
侍二郎は大人である。

##Djangoの基礎を学ぼう

#1章 Djangoの概要を理解しよう

In [ ]:
# 1 Djangoについての説明で正しいものはどれか
# Pythonで開発されたWebアプリケーションフレームワーク
# 2 Djangoの主な用途は何か。
# Webアプリケーションの開発
# 3 DjangoのMTVアーキテクチャにおいて、Modelの役割は何か？
# Viewで表示するデータを取得するためのDBのテーブルと対応するPythonクラス

#2章 Djangoの開発環境を構築しよう

#8月22日Lesson